In [2]:
import numpy as np
import pandas as pd

In [3]:
old_data = pd.read_csv("clean.csv")

In [4]:
old_data.head()

,Unnamed: 0,commonFileTypes,creatorName,creatorUserId,currentDatasetVersionId,currentDatasetVersionNumber,datasetId,datasetSize,dateUpdated,diffType,...,scriptCount,title,topicCount,type,viewCount,voteButton,competitionCount,description,full,category
0,0,'csv',Paul Mooney,1314380,161079,5,70947,4043536.0,11/3/2018,unversioned,...,190,2018 Kaggle ML & DS Survey Challenge,12,fileset,274306,678,0,None,'analysis > survey analysis','survey analysis'
1,1,'other',Jason King,459483,194523,1,83790,968989653.0,11/28/2018,versioned,...,11,English Wikipedia Articles 2017-08-20 Models,0,fileset,176,2,0,None,'analysis > text mining','text mining'
2,2,'csv',Mehdi Dagdoug,1227281,59109,1,38809,5621145.0,7/25/2018,versioned,...,40,Black Friday,4,fileset,80770,298,1,'Businesses are organizational entities that ...,'society and social sciences > society > busi...,'business'
3,3,'other',Chris Crawford,484516,150301,18,45286,45177047.0,10/29/2018,unversioned,...,54,Data Science for Good: Center for Policing Equity,27,fileset,52192,282,0,'Datasets and kernels under the government ag...,'general reference > research tools and topic...,'government agencies'
4,4,'other',Danil,1914606,36285,2,28335,609430422.0,5/25/2018,versioned,...,5,Art Images: Drawing/Painting/Sculptures/Engrav...,0,fileset,4086,42,0,"""Activities that holds the attention and inte...",'culture and arts > arts and entertainment','arts and entertainment'

In [19]:
file_type = []

In [20]:
print(old_data['commonFileTypes'].unique())

[" 'csv'" " 'other'" " 'json'" " 'sqlite'"]

In [21]:
for i in range(0,len(old_data.commonFileTypes)):
    if old_data.commonFileTypes[i] == " 'csv'":
        file_type.append(3)
    elif old_data.commonFileTypes[i] == " 'sqlite'":
        file_type.append(2)
    elif old_data.commonFileTypes[i] == " 'json'":
        file_type.append(1)
    else:
        file_type.append(0)

In [29]:
old_data.datasetSize.quantile([0.25,0.5,0.75])

0.25       27116.25
0.50      561409.50
0.75    15631105.25
Name: datasetSize, dtype: float64

In [132]:
datasize = []

In [133]:
for i in range(0,len(old_data.datasetSize)):
    if 0 <= old_data.datasetSize[i] < 27116.25:
        datasize.append(0)
    elif 27116.25 <= old_data.datasetSize[i] <561409.50:
        datasize.append(1)
    elif 561409.50 <= old_data.datasetSize[i] <15631105.25:
        datasize.append(2)
    else:
        datasize.append(3)

In [134]:
len(datasize)

13020

In [45]:
featured = []

In [46]:
for i in range(0, len(old_data.isFeatured)):
    if old_data.isFeatured[i] == True:
        featured.append(1)
    if old_data.isFeatured[i] == False:
        featured.append(0)

In [47]:
len(featured)

13020

In [49]:
for i in range(0, len(featured)):
    if old_data.isFeatured[i] == True:
        if old_data.isSuperFeatured[i] == True:
            print("Hi Leah")

Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah
Hi Leah

In [50]:
superfeatured = []

In [51]:
for i in range(0, len(old_data.isSuperFeatured)):
    if old_data.isSuperFeatured[i] == True:
        superfeatured.append(1)
    if old_data.isSuperFeatured[i] == False:
        superfeatured.append(0)

In [53]:
n = len(superfeatured) #so i can just keep using this value

In [60]:
competition= []

In [61]:
for i in range(0, n):
    if old_data.competitionCount[i] >= 1:
        competition.append(1)
    elif old_data.competitionCount[i] == 0:
        competition.append(0)

In [62]:
print(len(competition))

13020

In [72]:
old_data.description[0]

' None'

In [76]:
description = []

In [77]:
for i in range(0,n):
    if old_data.description[i] == ' None':
        description.append(0)
    else:
        description.append(1)

In [100]:
category = []

In [101]:
for i in range(0,n):
    if type(old_data.category[i]) == float:
        category.append(0)
    else:
        category.append(1)

In [137]:
ratio = []
ratio2 = []

In [138]:
for i in range(0, n):
    if old_data.viewCount[i] == 0:
        ratio.append(0)
    else:
        value = old_data.downloadCount[i] / old_data.viewCount[i]
        ratio.append(value)

In [139]:
ratio = np.array(ratio)

In [140]:
np.quantile(ratio,[0.25,0.5,0.75])

array([0.03196862, 0.06332496, 0.10760415])

In [141]:
for i in range(0,n):
    if 0 <= ratio[i] < 0.03196862:
        ratio2.append(0)
    elif 0.03196862 <= ratio[i] < 0.06332496:
        ratio2.append(1)
    elif 0.06332496<= ratio[i] <0.10760415:
        ratio2.append(2)
    else:
        ratio2.append(3)

In [122]:
def unique(list1): 
      
    # insert the list to the set 
    list_set = set(list1) 
    # convert the set to the list 
    unique_list = (list(list_set)) 
    for x in unique_list: 
        print (x)

In [145]:
old_data.voteButton.unique()

array([ 678,    2,  298,  282,   42,   59,   15,   20,  267,   71,   57,
        614,   33,   75,   17,   13,    0,    7,   50,   72,    8,    3,
          1,  116,  883,    5,    4,    6,   14,   61,   31,   44,   63,
         21,   34,   28,   16,   12,   84,   25,    9,   27,   60,   29,
         45,   66,   73,   35,  322,  182,  409,  234,   18,  231,   76,
        510,   19,   32,   90,   46,  278,   10,   79,  268,  108,   78,
        174,   11,   36,  228,   55,   58,   85,   81,  155,  104,   30,
         56,  622,  203,  176,  156,   48,  262,  602,   65,  119,  118,
        170,   23,   86,   43,  105,   52,   24,  127,  128,  141,   41,
        339,   62,  250,  269,  621,   74,   96, 2235,   51,  115,   93,
        536,  184,   38,   49,   37,  243,   80,  220,  398,  173,  995,
         40,  459,   39,  140,  216,  123,  238,  169,  371,  288,  733,
        187,  107,  334,  362,   97,  256,  672,   47,  218,   26,   69,
         91,  157,   22,   53,  177,  171,  135,  142,  145,  436,  124,
        160,  221,  253,  202,   54,  335,  183,  780,  100,  496,   83,
         68,   89,  110,  130, 1069,   64,   92,   77,  191,  361,  111,
        109,  134,  365,  225,  535,   98,   67,  166,   82,  146,  341,
        121,  113,  138,  154,  106, 1476,  454,  247,  254,  219,  133,
         87,  192,  315,  710,  637,   94,  701,  162,  117,  452,  168,
        468,   70,  697,  125,  486,  211,  434,  333,  248,  226,  164,
        306,  317,  364,  287,  316,  367, 1279,  330,  122,  311,  647,
        114,   88,  195,   99,  286,  131,  413,  501,  206,  204,  185,
         95,  103,  296], dtype=int64)

In [155]:
old_data.voteButton.quantile([0.25,0.5,0.75])

0.25    0.0
0.50    0.0
0.75    3.0
Name: voteButton, dtype: float64

In [167]:
votes = []

In [168]:
for i in range(0,n):
    if 3 <= old_data.voteButton[i]:
        votes.append(2)
    elif 0 < old_data.voteButton[i] < 3:
        votes.append(1)
    else:
        votes.append(0)

In [173]:
license = []

In [174]:
for i in range(0,n):
    if old_data.licenseShortName[i] == "free":
        license.append(1)
    else:
        license.append(0)

In [181]:
names = old_data.title

In [190]:
Popularity = [] 
Quality= []
Information = []
Total = []

In [191]:
for i in range(0, n):
    pop = featured[i]+superfeatured[i]+ratio2[i]+votes[i]
    qual = file_type[i]+datasize[i] +competition[i]
    info = description[i]+category[i] + license[i]
    tot = pop + qual + info
    Popularity.append(pop)
    Quality.append(qual)
    Information.append(info)
    Total.append(tot)

In [195]:
new_data = pd.DataFrame(
    {'Title': names,
     'FileTypes': file_type,
     'DataSize': datasize,
     'isFeature': featured,
     'isSuperFeature': superfeatured,
     'CompetitionCount': competition,
     'Description': description,
     'Category': category,
     'Ratio': ratio2,
     'voteButton': votes,
     'License': license,
     'Populariy':Popularity,
     'Quality':Quality,
     'Information':Information,
     'Total': Total
    })

In [196]:
new_data.head()

,Title,FileTypes,DataSize,isFeature,isSuperFeature,CompetitionCount,Description,Category,Ratio,voteButton,License,Populariy,Quality,Information,Total
0,2018 Kaggle ML & DS Survey Challenge,3,2,1,1,0,0,1,0,2,1,4,5,2,11
1,English Wikipedia Articles 2017-08-20 Models,0,3,1,1,0,0,1,1,1,1,4,3,2,9
2,Black Friday,3,2,1,1,1,1,1,3,2,1,7,6,3,16
3,Data Science for Good: Center for Policing Equity,0,3,1,1,0,1,1,1,2,1,5,3,3,11
4,Art Images: Drawing/Painting/Sculptures/Engrav...,0,3,1,1,0,1,1,3,2,1,7,3,3,13

In [197]:
new_data.to_csv("classification.csv")